<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div
				th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		</th:block>
		<div>
			<p>
				Sélection du partenaire <input type="text" /> 
				
			<div class="dropdown">
				
				<select th:field="*{homeForm.listePartenaires}" class="form-control">
			
					<option th:each="element : ${homeForm.listePartenaires}"
						th:value="${element.partenaire}" th:text="${element.partenaire + ' - ' + element.description}">
					</option>
				</select></div>
			<select><option>APEC-TOTO</option>
				<option>APEC-TITI</option></select>
			</p>
			
		</div>
		<div>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#description">Description</a></li>
				<li><a data-toggle="tab" href="#contacts">Contacts</a></li>
				<li><a data-toggle="tab" href="#suiviactivite">Suivi de
						l'activité</a></li>
				<li><a data-toggle="tab" href="#suiviactions">Suivi des
						actions</a></li>
				<li><a data-toggle="tab" href="#services">Services</a></li>
			</ul>

			<div class="tab-content">
				<div id="description" class="tab-pane fade in active">
					<h3>Présentation partenaire</h3>
					<br> <input type="text" />
					<h3>Cadre de la relation</h3>
					<br> <input type="text" />
				</div>
				<h3>Contacts du Client/Partenaire</h3>
				<br> <b></h4>
					<div class="row">
						<div class="col-sm-1">Nom</div>
						<div class="col-sm-1">Prénom</div>
						<div class="col-sm-1">Fonction</div>
						<div class="col-sm-1">Direction</div>
						<div class="col-sm-2">Mail</div>
						<div class="col-sm-1">Mobile</div>
						<div class="col-sm-1">Fixe</div>
						<div class="col-sm-3">Commentaire</div>
					</div></b>
				<div  class="form-control">
					<div class="row" th:each="element : ${homeForm.listeContacts}"
					th:if="${!element.pe}">
						<div class="col-sm-1" th:text="${element.nom}"></div>
						<div class="col-sm-1" th:text="${element.prenom}"></div>
						<div class="col-sm-1" th:text="${element.fonction}"></div>
						<div class="col-sm-1" th:text="${element.direction}"></div>
						<div class="col-sm-2" th:text="${element.mail}"></div>
						<div class="col-sm-1" th:text="${element.mobile}"></div>
						<div class="col-sm-1" th:text="${element.fixe}"></div>
						<div class="col-sm-3" th:text="${element.commentaire}"></div>
					</div>
				</div>
				<h3>Contacts Pôle-Emploi</h3>
				<br> <b></h4>
					<div class="row">
						<div class="col-sm-1">Nom</div>
						<div class="col-sm-1">Prénom</div>
						<div class="col-sm-1">Fonction</div>
						<div class="col-sm-1">Direction</div>
						<div class="col-sm-2">Mail</div>
						<div class="col-sm-1">Mobile</div>
						<div class="col-sm-1">Fixe</div>
						<div class="col-sm-3">Commentaire</div>
					</div></b>
				<div  class="form-control">
					<div class="row" th:each="element : ${homeForm.listeContacts}" th:if="${element.pe}">
						<div class="col-sm-1" th:text="${element.nom}"></div>
						<div class="col-sm-1" th:text="${element.prenom}"></div>
						<div class="col-sm-1" th:text="${element.fonction}"></div>
						<div class="col-sm-1" th:text="${element.direction}"></div>
						<div class="col-sm-2" th:text="${element.mail}"></div>
						<div class="col-sm-1" th:text="${element.mobile}"></div>
						<div class="col-sm-1" th:text="${element.fixe}"></div>
						<div class="col-sm-3" th:text="${element.commentaire}"></div>
					</div>
				</div>
			</div>
			<div id="contacts" class="tab-pane fade">
				<h3>Menu 1</h3>
				<p>Some content in menu 1.</p>
			</div>
			<div id="suiviactivite" class="tab-pane fade">
				<h3>Menu 2</h3>
				<p>Some content in menu 2.</p>
			</div>
			<div id="suiviactions" class="tab-pane fade">
				<h3>Menu 2</h3>
				<p>Some content in menu 2.</p>
			</div>
			<div id="services" class="tab-pane fade">
				<h3>Menu 2</h3>
				<p>Some content in menu 2.</p>
			</div>
		</div>
	</div>
	<div th:replace="fragments/layout :: footer"></div>
	</div>
</body>
</html>